<div class="container-fluid fixed-top bg-primary">
    <div class="row">
        <div class="col-sm-3 col-0 collapse show sidebar">
            <!-- spacer col -->
        </div>
        <div class="col px-3">
            <app-navtop (toggled)="onToggled($event)"></app-navtop>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-0 collapse show sidebar text-white">
            <app-navside (closed)="onClosed($event)" [hidden]="!isNavSideOn"></app-navside>
            <app-navsub [hidden]="!isNavSubOn"></app-navsub>
        </div>
        <div class="col py-3">
        </div>
    </div>
</div>