<div class="nav flex-column flex-nowrap text-truncate navbar-light bg-light position-fixed pt-2 vh-100">
  <p class="ml-3 h5 text-primary">{{menuSubHeader}}</p>
  <ul class="list-group">
    <li class="nav-item" *ngFor="let menuSubItem of menuSubItems">
      <a class="nav-link align-items-center" href="#">
        <img src="/assets/images/{{menuSubItem.thumb ? menuSubItem.thumb : 'image-not-found.png'}}" class="rounded mr-2" />
        <span>{{menuSubItem.name}}</span>
      </a>
    </li>
  </ul>
</div>